---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPENWEATHERMAP_API_KEY>&lat=49.2827&lon=-123.1207
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-123.1207,"lat":49.2827},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":289.18,"feels_like":289.03,"temp_min":287.95,"temp_max":290.25,"pressure":1021,"humidity":84,"sea_level":1021,"grnd_level":1009},"visibility":10000,"wind":{"speed":2.24,"deg":81,"gust":4.92},"clouds":{"all":0},"dt":1754217649,"sys":{"type":2,"id":2011597,"country":"CA","sunrise":1754225257,"sunset":1754279375},"timezone":-25200,"id":6173331,"name":"Vancouver","cod":200}'
  recorded_at: Sun, 03 Aug 2025 10:48:48 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<OPENWEATHERMAP_API_KEY>&lat=49.2827&lon=-123.1207
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1754222400,"main":{"temp":289.11,"feels_like":288.95,"temp_min":287.26,"temp_max":289.11,"pressure":1021,"sea_level":1021,"grnd_level":1009,"humidity":84,"temp_kf":1.85},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":1},"wind":{"speed":2.88,"deg":97,"gust":4.16},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2025-08-03
        12:00:00"},{"dt":1754233200,"main":{"temp":289.06,"feels_like":288.82,"temp_min":288.97,"temp_max":289.06,"pressure":1021,"sea_level":1021,"grnd_level":1009,"humidity":81,"temp_kf":0.09},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"clouds":{"all":15},"wind":{"speed":3.16,"deg":104,"gust":4.36},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2025-08-03
        15:00:00"},{"dt":1754244000,"main":{"temp":292.05,"feels_like":291.7[...]
