<footer>
  <hr>
  <p>
    Inspired by <%= link_to "Apple Weather App", "https://apps.apple.com/us/app/weather/id1069513131", title: "📱" %>,
    Built with <span class="heart">♥</span> by 
    <%= link_to "Artem Kirienko", "https://github.com/artkirienko", title: "😉" %>
    © <span id="copyright-years"><%= Time.current.year == 2025 ? "2025" : "2025-#{Time.current.year}" %></span><br/>
    <em><%= t('footer.human_made') %></em>
  </p>
</footer>
