<footer>
  <hr>
  <p>
    Built with <span class="heart">♥</span> by 
    <%= link_to "Artem Kirienko", "https://github.com/artkirienko", title: "😉" %>
    © <span id="copyright-years"><%= Time.current.year == 2025 ? "2025" : "2025-#{Time.current.year}" %></span><br/>
    <em>*100% Human-made, No AI involved</em>
  </p>
</footer>
